-i https://pypi.org/simple

alembic
certifi
click
cloudinary
flask
flask-admin
flask-cors
flask-migrate
flask-sqlalchemy
flask-swagger
flask-jwt-extended==4.6.0
gunicorn
itsdangerous
jinja2
mako
markupsafe
psycopg2-binary
python-dateutil
python-dotenv
python-editor
pyyaml
six
sqlalchemy
typing-extensions
urllib3
werkzeug
wtforms==3.1.2
eralchemy2