.nav-container{
    display: flex;
    justify-content: space-between;
    background-color: var(--clr-primary700-blue);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    animation: drop-nav 2s ease both;
}

.navbar-interno{
    justify-content: space-evenly;
}

#btn-nav-login {
    border-radius: 100vmax;
    margin-right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;;
}
.btn-nav-exp{
    background-color: #09f;
    color: #fff;
    border: none;
    border-radius: 100vmax;
    padding: 10px 20px;
    text-shadow: 0 2px 5px rgba(0,0,0,0.5);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);

    &:hover{
        background-color: var(--clr-white);
        color: var(--clr-primary700-blue);
        text-shadow: none;
    }
}

.item-nav{
    margin-right: 20px;
    color: white !important;
    font-size: 1.2rem;
}
.link-nav{
    border-radius: 100vmax;
    color: var(--clr-white);
    font-weight: 800;
    position: relative;
    text-shadow: 0 2px 5px rgba(0,0,0,0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s, color 0.3s, text-shadow 0.3s, box-shadow 0.3s;

    &:hover{
        background-color: var(--clr-white);
        color: var(--clr-primary700-blue);
        text-shadow: none;
    }
}


.link-nav::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: var(--clr-primary700-blue);
    transition: width .3s ease;
    position: absolute;
    left: 15px;
    bottom: 10px;
}

.link-nav:hover::after {
    width: 80%;
}

.nav-list{
    text-align: center;
    margin: 0;
}

@keyframes drop-nav {
    from { opacity: 0; transform: translateY(-200px); }
    to { opacity: 1; transform: translateY(0); }
}