.travelS{
    animation: fadeIn linear both;
    animation-timeline: view();
    animation-range-start: entry 20%;
    animation-range-end: cover 30%;
}

.box-feature{
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.btn-feature{
    background-color: #09f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

/* imagen de background para los box features*/
.box-feature {
    position: relative;
    background-color: var(--dark-bg); /* fondo por defecto */
    overflow: hidden;
    padding: 2rem;
    border-radius: 8px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    text-align: center;
    text-decoration: none;
    color: grey;
}

/* Oculta el contenido al hacer hover */
.box-feature:hover > * {
    opacity: 0;
    transform: scale(0.95);
    transition: all 0.3s ease;
    
}

/* Añade imagen como fondo al hacer hover */
.box-feature::before {
    content: '';
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 0;
}

.feature-1::before {
    background-image: url('https://www.gotokyo.org/es/plan/tokyo-outline/images/main.jpg');
}

.feature-2::before {
    background-image: url('  https://res.cloudinary.com/worldpackers/image/upload/c_limit,f_auto,q_auto,w_1140/fah6n0d54grafevu93yv');
}

.feature-3::before {
    background-image: url('https://www.vinccihoteles.com/uploads/cms_apps/imagenes/viajes-foto.jpg  ');
}

/* Mostrar imagen en hover */
.box-feature:hover::before {
    opacity: 1;
}

/* Asegura que el contenido esté encima */
.box-feature > * {
    z-index: 1;
    position: relative;
    transition: all 0.3s ease;
}

.title-features{
    font-size: 2.7rem;
    font-weight: bold;
    text-shadow: 0 0 8px rgba(29, 233, 248, .5);
    color: var(--clr-white);
}