

#contenedor{
 flex-direction: column;
 display: flex;
}

.imagecontainer img{
    object-fit: cover;
}

.card {
    width: 350px;
    background: white;
    padding: .4em;
    border-radius: 6px;
    height: 500px;
  }

  .card-image {
    background-color: rgb(236, 236, 236);
    width: 100%;
    height: 290px;
    border-radius: 6px 6px 0 0;
    object-fit: cover;
  }

  .card-image:hover {
    transform: scale(0.98);
  }

  .category {
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 600;
    color: rgb(63, 121, 230);
    padding: 10px 7px 0;
  }

  .category:hover {
    cursor: pointer;
  }

  .heading {
    font-weight: 100;
    color: rgba(36, 36, 36, 0.993);
    padding: 7px;
    font-size: 17px;
  }