

   .custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    font-size: 15px;
  }

  .btn-2 {
    background: #004dff;
    background: linear-gradient(0deg, #004dff 0%, #004dff 100%);
    border: none;
  }

  .btn-2:before {
    height: 0%;
    width: 2px;
  }

  .btn-2:hover {
    box-shadow: 4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .5), 
      inset -4px -4px 6px 0 rgba(255,255,255,.2),
      inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
  }

  #flipcardimg{
    border-radius: 10px;
    height: 80%;
    width: 80%;
  }

  .of-title{
    font-size: 1.1rem;
  }
  .of-location{
    font-size: 0.7rem;
  }
  .of-duration{
    font-size: 0.8rem;
  }

  .flip-card {
    background-color: transparent;
    width: 300px;
    height: 370px;
    perspective: 1000px;
    font-family: sans-serif;
    border-radius: 12px;
  }
  
  .title {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 8px;
  }
  
  .flip-card-front {
    background-color: rgb(195, 236, 255);
    color: rgb(255, 191, 167);
    
  }
  
  .flip-card-back {
    background-color: rgb(83, 182, 248);
    color: white;
    transform: rotateY(180deg);
  }

 

  #containerimg img{
    object-fit: cover;
  }

  .priceover{
    color: black;
    position: absolute;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border: 0px solid #9ce2fd;; 
    border-radius: 30px;
    top: 10%;
    right: -5%;
    transform: translate(-50%,-50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    
  }

  .buttondelete{
    position: absolute;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border: 1px solid #9ce2fd;; 
    border-radius: 30px;
    top: 10%;
    right: 0%;
    transform: translate(-50%,-50%);
  }