/* Postales generales */
.postcard-title {
  font-family: 'Shadows Into Light', cursive;
  font-size: 3rem;
  color: #d2691e;
}

.titlecountry {
  font-family: 'Shadows Into Light', cursive;
  font-size: 2rem;
  color: #d2691e;
}

/* Tarjetas de destino */
.card {
  font-family: 'Special Elite', monospace;
  background-color: transparent;
  border: 2px solid #e0c097;
  border-radius: 15px;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.09);
}

/* Imagen dentro de la tarjeta */
.card-img-top {
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  max-height: 200px;
  object-fit: cover;
}

/* Contenido interno */
.card-title {
  font-family: 'Shadows Into Light', cursive;
  color: #d2691e;
  font-size: 1.5rem;
}

.card-text {
  font-size: 0.95rem;
  color: #444;
}

/* Botón de enlace */
.btn-primary {
  background-color: #d2691e;
  border-color: #d2691e;
}

.btn-primary:hover {
  background-color: #b2581c;
  border-color: #b2581c;
}
.textblack p{
  color: black;
}