.postcard {
    font-family: 'Special Elite', monospace;
    background: #fffaf0; 
    border: 2px solid #e0c097;
    border-radius: 15px;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    transition: transform 0.2s ease;
    position: relative;
    
  }
  
  .postcard:hover {
    transform: scale(1.02);
  }
  
  .postcard img {
    border-radius: 10px;
    margin-bottom: 1rem;
    max-height: 200px;
    object-fit: cover;
  }
  
  .postcard-title {
    font-family: 'Shadows Into Light', cursive;
    font-size: 3rem;
    color: #d2691e;
  }
  
  .titlecountry {
    font-family: 'Shadows Into Light', cursive;
    font-size: 2rem;
    color: #d2691e;
  }


  .postcard-description {
    font-size: 1rem;
    color: #444;
  }
  
  .travel-link {
    display: inline-block;
    margin-top: 1rem;
    font-weight: bold;
    color: #008080;
    text-decoration: none;
  }
  
  .travel-link:hover {
    text-decoration: underline;
  }