.container{
    border-radius: 8px;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  background-image: 
    radial-gradient(circle at 10% 20%, rgba(29, 233, 248, 0.03) 0%, transparent 20%),
    radial-gradient(circle at 90% 80%, rgba(54, 74, 255, 0.03) 0%, transparent 20%);
    
}
.container h1{
    color: rgba(96, 242, 242, 0.849);
}


/* Contenedor general de herramientas */
.tools-card {
    border: 1px solid #097a99;
    border-radius: 8px;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
    cursor: pointer;
    background-color: transparent;
}

.tools-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

/* Imagen de la tarjeta */
.tools-card img {
    border-radius: 4px;
    max-height: 200px;
    object-fit: cover;
    width: 100%;
}

/* Título de herramienta */
.tools-card h5 {
    font-weight: 600;
    margin-top: 15px;
}

/* Descripción */
.tools-card p {
    font-size: 0.95rem;
}

/* Botón volver */
.buttonback {
    margin-bottom: 1rem;
    background-color: transparent;
    border:transparent;
}
.buttonback:hover{
    background-color: #2e8b57;
}


/*ESTILOS DEL PLANIFICADDOR */


.planifier h2{
    color: rgba(96, 242, 242, 0.849);
}

.planifier input{    background: rgba(255, 255, 255, 0.764);
    border: 1px solid rgba(29, 233, 248, 0.3);
    border-radius: var(--border-radius-sm);
    padding: 0.8rem 1rem;
    transition: var(--transition-smooth);
    width: 100%;
}

´/*SELECTOR COIN */
.selectorcoin{
    color: #090a0f;
}
.selectorcoin option{     
    background-color: transparent;
    border: 1px solid rgba(29, 233, 248, 0.3);
    border-radius: var(--border-radius-sm);
    padding: 0.8rem 1rem;
    transition: var(--transition-smooth);
    width: 100%;
    color: #090a0f;
}
/* Fondo y texto del formulario */
.form-select, .form-control {
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .list-group-item.font-weight-bold {
    font-weight: bold;
    color: #2e8b57;
    border: 2px solid #2e8b57;
  }

  .list-group-item.d-flex {
  border-radius: 8px;
  padding: 15px;
  background-color:transparent;
}

/*ESTILOS DE SPLIT*/

.split h2{
    color: rgba(96, 242, 242, 0.849);
}
.buttonsave{
    

}
.buttonsave:hover{
    background-color: green;
}