
.about-container {
    background-color: transparent;
    font-family: Arial, sans-serif;
    text-align: center;
    padding-bottom: 40px;
  }
  
  .about-header {
    background-color:transparent;
    color: white;
    padding: 20px 0;
  }
  
  .main-image img {
    
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    display: block;
    border-radius: 10px;
    pointer-events: none;
    box-shadow: none; 
    transition: none; 
  }
  
  .intro {
    background-color: transparent;
    max-width: 700px;
    margin: 20px auto;
    padding: 0 20px;
    font-size: 1.1em;
  }
  
  .team {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
  }
  
  .flip-card-au {
    background-color: transparent;
    width: 250px;
    height: 320px;
    perspective: 1000px;
    border: 1px solid #ccc;
    border-radius: 12px;
  } 
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    border-radius: 12px;
  }
  
  .flip-card-au:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front-au, .flip-card-back-au {
    background-color: transparent;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: transparent;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }
  
  .flip-card-front-au img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
    transition: none;
    
  }
  
  .flip-card-back-au {
    background-color:transparent;
    transform: rotateY(180deg);
  }
  
  .flip-card-back-au img {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
    
  }
  
  .flip-card-back-au a {
    text-decoration: none;
    margin: 0 5px;
  }
  

.diagram-section {
  background-color: transparent;
  padding: 40px 20px;
}

.diagram-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  max-width: 1000px;
  margin: auto;
  background-color: transparent;
}

.diagram-card {
  background-color:transparent;
  border-left: 6px solid #00bfff46;
  border-radius: 10px;
  padding: 20px;
  color: white;
  box-shadow: 0 0 8px rgba(0, 191, 255, 0.4);
  transition: transform 0.3s ease;
  margin-bottom: 25px;
}

.diagram-card:hover {
  transform: translateY(-5px);
}

.diagram-card h3 {


}
