.payment-container {
  max-width: 500px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 8px;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  color: white;
  background-image: 
    radial-gradient(circle at 10% 20%, rgba(29, 233, 248, 0.03) 0%, transparent 20%),
    radial-gradient(circle at 90% 80%, rgba(54, 74, 255, 0.03) 0%, transparent 20%);
}

.payment-container h2{
  color: rgba(22, 226, 226, 0.808);
}
.payment-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  font-weight: bold;
}

.form-control {
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
}

.error-text {
  color: rgb(255, 0, 0);
  font-size: 12px;
  margin-top: 5px;
}

.payment-methods {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.payment-method {
  display: flex;
  align-items: center;
}

.payment-method input {
  display: none;
}

.payment-method label {
  display: block;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s;
  background-color: rgba(74, 155, 155, 0.795);
}

.payment-method input:checked + label {
  background-color: #ffffff;
}

.payment-method label i {
  font-size: 24px;
  margin-right: 8px;
  color: #090a0f;
}

.processingpayment {
  padding: 10px;
  background-color: #0a68cc00;
  color: #fff;
  border: none;
  border-radius: 5px;
 
  transition: background-color 0.3s;
}

.processingpayment:hover {
  background-color: #00b35fe5;
}

.cancelbutton{
  color: #fff;
  background-color: rgba(205, 50, 50, 0);
  transition: background-color 0.3s;
}
.cancelbutton:hover{
  background-color: rgb(132, 34, 34)
  ;
}
