/* .cm-container{
    animation: fadeIn linear both;
    animation-timeline: view();
    animation-range-start: entry 20%;
    animation-range-end: cover 30%;
} */

.cm-box{
    background-color: var(--dark-bg);
    animation: fadeIn linear both;
    animation-timeline: view();
    animation-range-start: entry 20%;
    animation-range-end: cover 30%;
}

.imagen-avatar{
    border-radius: 50%;
    margin-right: 10px;
}